#spamzone {
    padding: 10px;
}

#spambutton {
    font-size: 20px;
    font-family: "orbitron", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: red;
    border: 0px solid black;
    width: 100%;
}

.balmnumber {
    display: inline;
    margin-bottom: 10px;
    font: 20px "Quicksand", sans-serif;
}

#numberofplays {
    width: 320px;
    padding: 3px;
}
