/*MOAR Fonts:
font-family: 'Orbitron', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Baloo Bhaina', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Audiowide', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    position: fixed;
    padding: 0;
    top: 0;
    width: 100%;
    font-size: 0;
    background-color: white;
    z-index: 1000;
}

.heading h2 {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    color: #ff0000;
    font-size: 50px;
    cursor: pointer;
}

.subheading {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: lightgray;
}

.heading p {
    display: inline-block;
    width: 25%;
    text-align: center;
    color: #082149;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    transition: all .5s ease-out;
    vertical-align: top;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: lightgray;
    cursor: pointer;
}

.heading p:hover {
    font-size: 29px;
}

.body {
    background-color: #EEEFF1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 112px;
    font-size: 0;
}

.title {
    text-align: center;
    padding-top: 15px;
    font: 40px 'Luckiest Guy', cursive;
    color: darkgreen;
}

.into-pic {
    border-bottom: 2px solid lightgray;
    overflow: scroll;
}

.into-pic img {
    display: block;
    margin: auto;
    width: 78%;
}

.intotext {
    font: 20px 'Baloo bhaina', cursive;
    padding: 10px;
    line-height: 1.25em;
    letter-spacing: .01em;
    
}

#address {
    font: 20px 'Baloo bhaina', cursive;
    padding: 10px;
    line-height: 1.25em;
    letter-spacing: .01em;
    padding-bottom: 0px
}

#latlong {
    font-family: 'Baloo bhaina', cursive;
    padding: 10px;
    line-height: 1.25em;
    letter-spacing: .01em;
    border-bottom: 2px solid lightgray;
    font-size: 10px;
    padding-top: 0px;
}

.nicolinet {
    font: 25px 'orbitron', cursive;
    cursor: pointer;
}

.titlesection {
    border-bottom: 2px solid lightgray;
}

.cow {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    background-color: #EEEFF1;
}

.meat {
    display: inline-block;
    padding: 10px;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
    vertical-align: top;
}

.aravioli {
   width: 20%;
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.nineplusnine{
    font: 30px Orbitron, cursive;
    text-align: center;
    color: blue;
}


.footer {
    background-color: #000000;
    color: white;
    height: 200px;
    font-family: Helvetica, sans-serif;
    font-size: 13px
}

.footer p {
    padding: 20px 20px;
}

.Nicolinet.com {
    cursor: pointer;
}

.footer a {
    color: inherit;
    cursor: pointer;
}
