.employee {
    border-bottom: 2px solid lightgray;
    padding-top: 10px;
    overflow: auto;
}

.employeePic {
    width: 10%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: top;
    float: left;
}


.employeeName {
    display: inline;
    font: 30px "Orbitron", cursive;
}

.employeeJob {
    display: inline;
    padding-left: 10px;
    color: #3f3f3f;
    font: 20px "Quicksand", sans-serif;
}

.employeeDescription {
    display: inline-block;
    padding-top: 1px;
    padding-left: 10px;
    font: 15px "Comic Sans", sans-serif;
    width: 70%
}
